{%- if section.settings.navigation.links.size > 0 -%}
  <nav x-data="{ activeIndex: 'none' }" x-cloak class="relative z-50">
    <ul
      @mouseover.away="activeIndex = 'none'"
      class="relative flex gap-x-8 justify-center text-white uppercase mt-2 font-josefin text-sm"
    >
      {%- for link0 in section.settings.navigation.links -%}
        <li>
          <a
            @mouseover="activeIndex = '{{ link0.handle }}'"
            href="#"
            class="block relative pb-2"
          >
            {{- link0.title | escape -}}
            <span
              x-show="activeIndex === '{{ link0.handle }}'"
              class="absolute -bottom-2.5 left-0 w-full text-center"
              >&#9650;</span
            >
          </a>
          <ul
            x-show="activeIndex === '{{ link0.handle }}'"
            class="absolute left-0 w-full flex justify-evenly px-24 py-10 bg-white text-stone-700"
          >
            {%- for link1 in link0.links -%}
              <li class="w-1/4">
                <div class="mb-8">{{ link1.title }}</div>
                {% liquid
                  if link1.object.metafields.custom.thumbnail
                    assign link1_image = link1.object.metafields.custom.thumbnail
                  elsif link1.object.image
                    assign link1_image = link1.object.image
                  else
                    assign link1_image = false
                  endif
                %}
                {%- if link1_image -%}
                  <div class="w-80 h-48 mb-8 overflow-hidden">
                    <img
                      src="{{ link1_image | image_url: width: 400 }}"
                      class="w-full h-full object-cover border border-stone-300"
                      width="200"
                      height="150"
                      alt=""
                      loading="lazy"
                    >
                  </div>
                {%- endif -%}
                <ul class="flex flex-col gap-4 normal-case font-josefinlight text-base">
                  {% liquid
                    assign type = 'collection'
                    assign link1_resources = link1.object.products
                    if link1_resources == null
                      assign type = 'pages'
                      assign link1_resources = link1.links
                    endif
                    if link1_resources[0] == null
                      assign type = 'free'
                    endif
                  %}
                  {%- for link2 in link1_resources -%}
                    <li>
                      <a class="block transform transition duration-200 hover:translate-x-1" href="{{ link2.url }}">
                        {{- link2.title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                  {%- if type == 'collection' -%}
                    <a href="{{ link1.url }}">
                      <span class="flex block transform transition duration-200 hover:translate-x-1 font-josefin">
                        Liste détaillée
                        {%- render 'i-arrow-right' -%}
                      </span>
                    </a>
                  {%- endif -%}
                  {%- if type == 'free' -%}
                    <p>
                      L'ensemble de notre production est en vente sur ce site. Si toutefois vous préférez passer votre
                      commande sur papier, merci de télécharger le bon de commande ci-dessous.
                    </p>
                    <a href="#">
                      <span class="flex block transform transition duration-200 hover:translate-x-1 font-josefin">
                        Télécharger le bon de commande
                        {%- render 'i-arrow-right' -%}
                      </span>
                    </a>
                  {%- endif -%}
                </ul>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}
