<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <link rel="canonical" href="{{ canonical_url }}">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}

    <meta name="theme-color" content="#fafafa">
  </head>

  <body class="template-{{ template.name }} bg-stone-50 text-stone-700 font-josefinlight">
    {% sections 'top-group' %}
    {% section 'menu' %}
    {{ content_for_layout }}
    <div class="bg-stone-700 text-white relative mt-36 pt-14 p-10 _clearfix">
      <div class="_contained">
        {% sections 'footer-group' %}
      </div>
    </div>
    <div class="p-8 uppercase text-sm bg-stone-700 text-white">
      <p>L'abus d'alcool est dangereux pour la santé. À consommer avec modération.</p>
      <p>©2023 J.-B. Clair - Tous droits réservés</p>
    </div>
    {% render 'alpine-scripts' %}
  </body>
</html>
